.nav-bar {
  background-color:#2D2F3B;
  padding:1.5%;
}

.container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.nav-brand img {
  max-width: 146.34px;
  height: 40px;
}

.profile {
  width:30px;
  height:30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

