@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Mate+SC&family=Raleway&family=Roboto:wght@500&family=Source+Sans+Pro:wght@300;600&family=Squada+One&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  display: flex;
}
.item {
  background-color: #f4f5f7;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.title {
  display: flex;
  gap: 5px;
  padding: 5px;
  align-items: center;
}
.title span {
  font-weight: bolder;
}
.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  max-height: 1000px;
  transition: all 0.9s ease-in-out;
}

.questions-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  text-align: left;
}

.questions-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questions {
  font-weight: bold;
}

.accordian {
  width: 100%;
}
