.back-btn {
  background-color: gray;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.back-btn-img {
  padding-top: 7px;
  margin-left: 9px;
  margin-top: 5px;
}
.quotes {
  margin-top: 2%;
  font-style: italic;
  font-size: large;
  font-weight: 400;
  font-style: normal;
}
.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  grid-gap: 20px;
}
.grid-left {
  display: flex;
  justify-self: left;
  margin-top: 16%;
  margin-left: 18%;
}
.grid-right {
  display: flex;
  flex-direction: column;
  justify-self: left;
  margin-top: 13px;
  width: 100%;
}
.tags-main {
  display: flex;
  gap: 10px;
  margin-top: 30px;
  padding-bottom: 2%;
}
.tags {
  border-radius: 15px;
  background-color: gainsboro;
  padding: 4px;
  display: flex;
  padding-left: 8px;
}
.tags-text {
  font-size: small;
  font-weight: 400;
}
.tags-num {
  border-radius: 100%;
  width: 18px;
  background-color: white;
  font-weight: bold;
  font-size: x-small;
  margin-left: 10px;
  text-align: center;
}
.tags:hover,
.tags-active {
  border-radius: 15px;
  padding: 4px;
  display: flex;
  padding-left: 8px;
  background-color: #cedb56;
}
.h-lines {
  opacity: 0.5;
  margin-bottom: 1%;
  width: 80%;
  float: left;
  height: 0%;
}
