.search-bar {
  display: flex;
  margin-right: 8%;
  width: 40%;
  flex-direction: column;
}
.search-bar button:hover {
  background-color: #01559f;
}
.search-top {
  display: inline-flex;
  border-radius: 0.3rem;
  background: white;
}
.search-input {
  width: 80%;
  padding: 1%;
  border: 0;
  font-weight: 600;
  font-size: 13px;
  color: gray;
  line-height: 20px;
  border-radius: 0.3rem;
}
.search-input:focus {
  outline: none;
}
.cancel-img {
  background-color: #ffffff;
}
.search-button {
  width: 20%;
  padding: 1.5%;
  background-color: #0070d2;
  color: white;
  cursor: pointer;
  border: 1px solid #1589ee;
  border-radius: 0.3rem;
}
.search-result {
  margin-top: 3.5%;
  background-color: #ffffff;
  /* overflow: hidden;
  overflow-y: auto;
  height: 30%; */
  position: absolute;
  width: 38.7%;
  border: 1px;
  border-color: gainsboro;
  border-style: solid;
  padding-bottom: 1%;
  border-radius: 0.3rem;
}
.search-result::-webkit-scrollbar {
  display: none;
}
.search-item {
  padding-left: 4%;
  font-size: small;
  font-weight: 500;
  font-style: normal;
  padding: 1%;
}
