*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

.wrapper {
  display:grid;
  grid-template-columns: 1fr 3.5fr 1fr;
  padding:2%;
}
.accordian{
  display: flex;
  flex-direction: column;
  gap: 10px;
}